<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{ constraint.displayName }}</mat-panel-title>
  </mat-expansion-panel-header>
  <app-min-max-constraint
    [constraint]="constraint"
    (errorState)="updateConstraintErrorState($event)"
  ></app-min-max-constraint>
</mat-expansion-panel>

<p>
  The constraint has an error: {{ constraintErrorState }}. Min value is:
  {{ constraint.minValue }} and its weight is {{ constraint.minWeight }}. Max
  value is : {{ constraint.maxValue }} and its value is:
  {{ constraint.maxWeight }}
</p>
