<div (mouseleave)="emitConstraint()" class="min-min-shift-constraint-container">
    <div class="constraint-variables-container">
        <label>Shift: </label>
        <mat-form-field appearance="fill">
            <mat-label>choose a shift </mat-label>
            <mat-select [(value)]="constraint.shiftId" [formControl]="selectFormCtrl">
                <mat-option *ngFor="let shift of possibleShifts" [value]="shift">
                    {{shift}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div class="min-value-container">
            <label>Min value: </label>
            <app-numeric-input [(value)]="constraint.minValue" (errorState)="updateMinValueErrorState($event)"></app-numeric-input>
            <div class="weight-container">
                <app-weight [(weight)]="constraint.minWeight" [label]="minWeightLabel" (errorState)="updateMinWeightErrorState($event)"></app-weight>
            </div>
        </div>
        <br><br>
        <div class="max-value-container">
            <label>Max value: </label>
            <app-numeric-input [(value)]="constraint.maxValue" (errorState)="updateMaxValueErrorState($event)"></app-numeric-input>
            <app-weight [(weight)]="constraint.maxWeight" [label]="maxWeightLabel" (errorState)="updateMaxWeightErrorState($event)"></app-weight>
        </div>
    </div>
</div>
