<div class="shiftType-container" (mouseleave)="emitShiftType()"></div>
<div class="content"  mat-dialog-content>
    <div class="nameShiftTypeContainer">
    <label>Shift type name </label>
    <mat-form-field class = "nameForm" appearance="fill">
      <mat-label>Enter shift type name</mat-label>
      <input matInput [(ngModel)]="shiftType.name" [formControl]="nameShiftTypeFormCtrl" (keyup)="emitShiftType()">
    </mat-form-field>
    </div>
</div>
<div class="shifts-Section">
  <H1 class="shiftSectionTitle">Shifts</H1>
  <div *ngIf="possibleShifts.length > 0">
    <mat-form-field appearance="fill">
      <mat-label>Select a shift</mat-label>
      <mat-select [(ngModel)]="selectedShift" >
        <mat-option *ngFor="let shift of possibleShifts" [value]="shift">
            {{shift}}
        </mat-option>
    </mat-select>
    </mat-form-field>
    <button mat-raised-button class="addShiftButton" (click)="addShift()">
      add Shift
    </button>
  </div>
  <table class="shiftTable">
    <tr *ngFor="let shift of shiftType.shifts">
      <td class="shiftName">
        <mat-chip>{{ shift }}</mat-chip>
      </td>
      <button
        mat-raised-button
        class="removeShiftButton"
        (click)="removeShift(shift)"
        color="accent"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </tr>
  </table>
</div>

