.additional-items {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    float: right;
}

.add-button{
    margin-top: 10px;
    margin-left: 10px;
}

.delete-pattern-button {
    float: right;
    margin-right: 1vh;
    margin-top: 1vh;
}

.delete-pattern-icon { 
    color: #1a3d66;
} 