<div (mouseleave)="emitWeight()">
    <mat-form-field appearance="fill">
        <mat-label>Enter the weight</mat-label>
        <input matInput [disabled]="disabled" [(ngModel)]="weight" [errorStateMatcher]="matcher" [(ngModel)]="localWeight" [formControl]="inputCtrl">
    </mat-form-field>
    <mat-checkbox (change)="update()">Impose constraint</mat-checkbox>
    <mat-error
        *ngIf="
        inputCtrl.hasError('pattern') ||
        inputCtrl.hasError('required') ||
        inputCtrl.hasError('min')
        "
    >
    Please enter a postive number!
  </mat-error>
</div>
