<div class="weight-container">
  <label> {{ label }} : </label>
  <mat-form-field appearance="fill">
    <mat-label>Enter the weight</mat-label>
    <input
      matInput
      [(ngModel)]="weight"
      [errorStateMatcher]="matcher"
      [formControl]="inputCtrl"
      placeholder="Ex: 2.0"
      (keyup)="emitWeight()"
    />
    <mat-error
      *ngIf="
        inputCtrl.hasError('pattern') ||
        inputCtrl.hasError('required') ||
        inputCtrl.hasError('min')
      "
    >
      Please enter a valid postive number lower than 10 and up to two digits
      after the floatting point!
    </mat-error>
  </mat-form-field>
  <br />
  <mat-checkbox (change)="update()"
    >Constraint must be respected (hard)</mat-checkbox
  >
</div>
