attrs==22.2.0
bcrypt==4.0.1
cffi==1.15.1
coverage==7.0.5
cryptography==38.0.3
exceptiongroup==1.1.0
flake8==6.0.0
iniconfig==2.0.0
jdatetime==4.1.0
mccabe==0.7.0
packaging==21.3
pluggy==1.0.0
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
pykson==0.9.9.8.17
pyparsing==3.0.9
pytest==7.2.1
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
six==1.16.0
Unipath==1.1
urllib3==1.26.12
Flask~=2.2.2