label{
    margin-right: 1vw;
    font-weight: 700;
}
mat-checkbox {
    margin-left: 2vw;
}

.weight-container{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 1vh;
    background-color: #EFF2F7;
    /* border-radius: 12px; */
    /* padding: 2%;
    padding-bottom: 4%  */
}

.error-icon{
    margin-right: 1%;
}

.icon-placeholder {
    height: 48px;
    width: 48px;
}


/* EXPERIMENTAL */
@media all and (max-width: 1200px) {
    mat-card {
        max-width: 400px;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}