.schedule-container {
  display: flex;
  flex-direction: row;
}

.skill-name-table {
  display: flex;
  width: 150px;
}

.skill-name-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 20px;
  height: 5px;
}

.nurse-name-cell {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(235, 234, 234);
}

.timetable-table {
  display: flex;
  overflow-x: scroll;
}
.date-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 335px;
  background-color: #A7C6EA;
}

.min-max-row {
  background-color: rgb(235, 234, 234);
}

.min-max {
  border-width: 0px;
  background-color: rgb(235, 234, 234);
  width: 80px;
}

.min-max-value{
  background-color: lightgray;
  border-radius: 30px;
  padding: 10px;

}

button:hover{
  cursor: pointer;
}
