<div class="schedule-container">
  <div class="skill-name-table">
    <table>
      <tr>
        <th class="skill-name-header">Skill</th>
      </tr>
      <tr *ngFor="let skill of skills">
        <td class="skill-name-cell">{{skill}}</td>
      </tr>
    </table>
  </div>
  <div class="timetable-table">
    <div class="date-table" *ngFor="let date of timetable">
      <caption class="date-header"> {{date.day}}  {{date.date}}</caption>
      <table>
        <tr>
          <th class="shift-header"*ngFor="let shift of shifts">
            {{shift}}
          </th>
        </tr>
        <tr class="min-max-row"*ngFor="let skill of skills">
          <td  class="min-max-cell" *ngFor="let shift of shifts" class="schedule-cells">
            <button class="min-max" (click)="updateDemands(date, skill, shift)" 
              [disabled]="skillDemandErrorState" 
              matTooltip="{{showToolTip(date, skill, shift)}}">
              Max: {{skillDemand.maxValue}} <br> 
              Min: {{skillDemand.minValue}}
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="min-max-value"><app-min-max-hopspital-demand  [(demand)]="skillDemand" (errorState)="updateSkillDemandErrorState($event)"></app-min-max-hopspital-demand></div>


