.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.addSkillButton{
  margin-left: 5vw;
}

.removeSkillButton{
  margin-top: 1vw;
}

.selected {
  background-color: steelblue;
  border-radius: 50%;
}