h1, h2{
    text-align: center;
}


p{
    font-size: large;
    font-weight: bold;
    margin-bottom: 2vh;
}

.action-button{
    font-size: larger;
    font-weight: bold;
    height: 50px;
    width: 240px;
}

.import-section, .create-empty-section {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button{
    float:right;
    bottom: 0%;
    right: 0%;
    position: absolute;
    margin-bottom: 3vh;
    margin-right: 3vh;
}

.profile-container{
    margin-top: 5vh;
}