img{
    width: 42%;
    height: inherit;
    padding: 7.8% 3%;
    background-color: #d3dde9;
}

.profile-container{
    display: inline;
    justify-items: flex-start;
    display: flex;
    height: inherit;
}

.text-container {
    padding: 2%;
}

/* .title-container {
    padding-top: 5vh;
} */

.text-container {
    padding: 2%;
    width: 60vw;
    margin: 0 auto;
  }
  

h1, h4{
    text-align: center;
}

.action-button{
    font-size: larger;
    font-weight: bold;
    height: 50px;
    width: 70%;
}

.import-section, .create-empty-section {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    padding-top:2%;
    padding-bottom: 12%;
}

.close-button{
    float:right;
    bottom: 0%;
    right: 0%;
    margin-bottom: 3%;
    margin-right: 3%;
}