.header-container{
    display: flex;
    align-items: center;
    background-color: #255792;
    height: 100px;
    width: 100%;
}

span {
    margin-left: 1vw;
    /* text-anchor: middle; */
    color: white;
    font-size: larger;
}

h1{
    /* position: absolute; */
    margin-left: 1vw;
    margin-bottom: 2vh;
    font-size: 200%;
}

h1:hover{
    cursor: pointer;
}

.start-container {
    margin-left: 2vw;
    margin-top: 1vh;
}

.end-buttons {
    margin-right: 1vw;
    float:right;
    right: 0%;
    position: absolute;
    
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    right: 0%;
    }


.duplicate-button, .delete-button, .share-button, .export-button{
    margin-left: 5vw;
}

.bell-icon{
    transform: scale(1.25);
    color: white;
}

.user-icon{
    transform: scale(1.5);
    color: white;
}

.icon-box{
    margin: 2vh;
}

.profile-label{
    font-weight: bolder;
    font-size: 20px;
    margin-right: 8px;
}