.end-buttons {
    margin-right: 1vw;
    float:right;
    right: 0%;
    position: absolute;
    
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    right: 0%;
    }

.header-container{
    display: flex;
    background-color:white;
    height: 80px;
    width: 100%;
}

.add-user{
    height: 20px
}

.start-container {
    margin-left: 2vw;
    margin-top: 1vh;
}

.duplicate-button, .delete-button, .share-button{
    margin-left: 5vw;
}
.icon{
    transform: scale(3);
}

.icon-box{
    margin: 3vh;
}
