<div *ngIf="validProfile" class="header-container">
    <div class="start-container">
        <label class="profile-label">Profile: </label>
        <mat-form-field appearance="fill">
            <mat-label>Profile</mat-label>
            <mat-select [(value)]="profile" (selectionChange)="handleSelectionChange()">
                <mat-option *ngFor="let profile of profiles" [value]="profile">
                    {{profile.profile}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button class="duplicate-button" mat-raised-button (click)="duplicate()">Duplicate</button>
        <button class="delete-button" *ngIf="profile.creator === username" mat-raised-button (click)="deleteProfile()">Remove</button>
        <button class="share-button" mat-raised-button (click)="share()">Share</button>
        <button class="export-button" mat-raised-button (click)="export()">Export</button>
    </div>
    <div class="end-buttons">
        <div class="icon-box">
            <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
            </button>
        </div>
        <div class="icon-box">
            <button class="user-icon" mat-icon-button [matMenuTriggerFor]="menu">
                <img src="../../../assets/user.png">
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
                <button *ngIf="isAdmin" mat-menu-item (click)="goToCreateAccount()">
                    <mat-icon>person_add</mat-icon>
                    <span> Create new user</span>
                </button>
                <button mat-menu-item (click)="openCreateProfileDialog(true)">
                    <mat-icon>library_add</mat-icon>
                    <span> Create new profile</span>
                </button>
            </mat-menu>
        </div>    
    </div>
    <!--<ng-template #elseBlock></ng-template>-->
</div>
