<div *ngIf="validProfile" class="header-container">
    <div class="start-container">
        <label>Profile: </label>
        <mat-form-field appearance="fill">
            <mat-label>Profile</mat-label>
            <mat-select [(value)]="profile" (selectionChange)="handleSelectionChange()">
                <mat-option *ngFor="let profile of profiles" [value]="profile">
                    {{profile.profile}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button class="duplicate-button" mat-raised-button (click)="duplicate()">Duplicate</button>
        <button class="delete-button" *ngIf="profile.creator === username" mat-raised-button (click)="deleteProfile()">Remove</button>
        <button class="share-button" mat-raised-button (click)="share()">Share</button>
    </div>
    <div class="end-buttons">
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button class="user-icon" mat-icon-button [matMenuTriggerFor]="menu">
            <img src="../../../assets/user.png">
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>logout</span>
            </button>
            <button *ngIf="isAdmin" mat-menu-item (click)="goToCreateAccount()">
                <img class="add-user" src="../../assets/add-user.png">
                <span> Create new user</span>
            </button>
            <button mat-menu-item (click)="openCreateProfileDialog(true)">
                <span> Create new profile</span>
            </button>
        </mat-menu>
        
    </div>
</div>
