.title {
    color: black;
    background-color: lightgray;
    text-align: left;
    font-size: 50px;
    height: 10%;
    padding: 1%;
}


.nameNurseContainer{
    background-color: gray;
    padding: 2%;
    font-size: 25px;
    border-radius: 30px;
    margin-top: 2%;
}

.nameForm{
    padding-top: 2%;
    background-color: white;
    border-radius: 10px;
    margin-top: 1%;
    width: 46vw;
}

.label{
    text-align: center;
    padding: 2%;
}

button {
    margin-right: 1vw;
    float: right;
}

.contractSection{
    padding: 2%;
}
