.buttonCreate{
    margin-right: 2vw;
    margin-top: 1vh;
    height: 50px;
    width: 240px;
    font-size: large;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

.filter{
    margin-right: 15px;
}

mat-paginator{
    margin-top: 10%;
}

::ng-deep #skill-nav-bar #skill-button {
    background-color: #3F51B5;
    color: white;
}

::ng-deep #shift-button {
    background-color: white;
    color: black;
}

::ng-deep #shift-type-button {
    background-color: white;
    color: black;
}

::ng-deep #shift-group-button {
    background-color: white;
    color: black;
}