.schedule-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-name-table {
  height: calc(100% - 15px);
  max-height: calc(100% - 15px); 
  width:max-content;
  max-width: 100%;
}

.skill-name-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding-top: 5px; */
  height: 5px;
}

.skill-name-cell {
  background-color: rgb(235, 234, 234);
  height: 42px;
  max-height: 42px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.timetable-table {
  display: flex;
  overflow-x: scroll;
  text-align: center;
  width:82%;
}

.date-header {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #255792;
    color:white;
}

.min-max-row {
  background-color: rgb(235, 234, 234);
}

.min-max {
  border-width: 0px;
  background-color: rgb(235, 234, 234);
  width: 80px;
}

.min-max-value{
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  width: 70%
}

button{
  width: 90px;
  height: 40px;
}

button:hover{
  cursor: pointer;

}


.skill-table{
  width:max-content;
  max-width: 100%;
  height: calc(100% - 15px);
  max-height: calc(100% - 15px); 
}

table{
  color:#1a3d66;
}

.disabled {
  opacity: 0.5; 
  pointer-events: none; 
}

.edition-buttons{
  display: flex;
  margin-left: 1vw;
}
.cancel-btn{
  margin-right: 1vw;
}
 


