.mat-elevation-z8 {
    margin-left: 2vw;
    margin-right: 2vw;
}

.create-button{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vh;
    height: 5vh;
    width: auto;
    font-size: large;
    float: right;
}
