mat-expansion-panel {
    margin-left: 1vw;
    margin-right: 1vw;
}

mat-panel-title{
    font-weight: bold;
}

.tool-tip-icon{
    margin-left: 10px;
    color: rgb(161, 158, 158);
}

.contract-container {
    margin-left: 1vw;
    overflow-y: scroll;
    max-height: 50vh;
    scroll-behavior: smooth;
}

.constraint-container {
    flex-direction: row;
    margin-bottom: 2vh;
    align-content: space-between;
    display:inline-flex;
}

.constraints-container{
    margin-top: 1vh;
}

label {
    margin-right: 1vw;
    font-size: 20px;
}

.constraint-list {
    margin-bottom: 0px;
}

.name-input, .constraint-select{
    width:30vw;
}

.add-button {
    margin-left: 2vw;
}

mat-expansion-panel {
    width: 70vw;
}

.skills-section-header {
    align-items:baseline;
    display: inline-flex;
}

.add-skill-button {
    margin-left: 1vw;
}
.skill-input {
    margin-right: 1vw;;
}

.delete-skill-button {
    margin-left: 1vw;
}

.constraint-button{
    margin-top: 1%;
    width: max-content;
}

.button-container{
    margin-right: 1%;
}

.constraints{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.constraints-section{
    width: 70vw;
}

h2, h3, label, p {
    color: #1a3d66;
}

.error-icon {
    margin-right: 1vw;
}

.panel-title {
    justify-content: space-between;
}

.remove-icon {
    color:#1a3d66;
    transform: scale(1.1);
}

.constraints-menu {
    padding: 1vh 1vw 3vh 1vw;
}