<div class="contract-container-page" (mouseleave)="emitContract()">
    <div class="contract-container" #contractContainer>
    <div class="name-section">
        <label>Contract name: </label>
        <mat-form-field appearance="fill" class="name-input">
            <mat-label>Enter a name</mat-label>
            <input matInput [(ngModel)]="contract.name"
            [formControl]="nameFormCtrl"/>
        </mat-form-field>
        <mat-error *ngIf="nameExist() && contractStartName ===''">
            Contract name is already used
        </mat-error>
    </div>
    <div class="constraints-section">
        <h2 class="constraint-list">Chosen Constraints</h2>
        <hr />
        <div class="constraints-container" (mouseleave)="emitContract()">
            <p *ngIf="contract.constraints.length===0">Please add a constraint to your contract from the options below.</p>
            <div *ngFor="let constraint of contract.constraints; let i= index" class="constraint-container">
                <mat-expansion-panel [expanded]="i === contract.constraints.length -1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            <div class="flex-row-center-container">
                                <mat-icon *ngIf="constraintHasErrorState(i)" color="warn" class="error-icon">error</mat-icon>
                                <h3>{{constraint.displayName}}</h3>
                                <mat-icon class="tool-tip-icon" matTooltip={{constraint.description}}
                                matTooltipPosition="right">help</mat-icon>
                            </div>
                            <button mat-icon-button (click)="removeConstraint(i)">
                                <mat-icon class="remove-icon">cancel</mat-icon>
                            </button>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container [ngSwitch]="constraint.name">
                        <app-unwanted-patterns *ngSwitchCase="unwantedPatternsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-unwanted-patterns>
                        <app-alternative-shift *ngSwitchCase="alternativeShiftId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-alternative-shift>
                        <app-shift-constraint *ngSwitchCase="freeDaysAfterShiftId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-shift-constraint>
                        <app-min-max-consecutive-shift *ngSwitchCase="minMaxConsecutiveShiftTypeId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-min-max-consecutive-shift>
                        <app-boolean-constraint *ngSwitchCase="identicalWeekendId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-boolean-constraint>
                        <app-boolean-constraint *ngSwitchCase="completeWeekendId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-boolean-constraint>
                        <app-min-max-consecutive-shift *ngSwitchCase="totalNumberWeekendsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-min-max-consecutive-shift>
                        <app-min-max-consecutive-shift *ngSwitchCase="minMaxConsecutiveWorkingWeekendsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-min-max-consecutive-shift>
                        <app-min-max-consecutive-shift *ngSwitchCase="minMaxNbAssignmentsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-min-max-consecutive-shift>
                        <app-min-max-consecutive-shift *ngSwitchCase="minMaxWorkingHoursId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-min-max-consecutive-shift>
                        <app-unwanted-skills *ngSwitchCase="unwantedSkillsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [skills]="possibleSkills"></app-unwanted-skills>
                        <div *ngSwitchDefault>Empty</div>
                    </ng-container>
                </mat-expansion-panel>
            </div>

        </div>
        
    </div>
</div>
<div class="constraints-menu">
    <h2>Choose a constraint to be added </h2>
    <div class="constraints flex-row-center-container">        
        <div *ngFor="let constraint of possibleConstraints; let i= index" class="button-container">
            <button class="constraint-button" mat-raised-button color="nurse-blue" (click)="addConstraint(constraint)">
                {{ constraint }}
            </button>
        </div>
    </div>
</div>
</div>