label {
    margin-left:1vw;
    margin-right: 1vw;
}
mat-form-field {
    margin-left:1vw;
    margin-right: 1vw;;
}

.pattern-group {
    padding: 5vh;
    background-color: #d3dde9;
    color: #1a3d66;
    border-radius: 4px;
    margin: 5px;
}