.mat-elevation-z8, .title {
    margin-left: 3vw;
    margin-right: 3vw;
}

h2 {
    margin-left: 1vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: 28px;
    color: #214e83;
}

hr {
    color: #8ea2ba;
    background: hsl(213, 24%, 64%);
    border: 0;
    height: 1px;
    width: 100%;
    margin-left: 0px;
}

p {
    font-size: x-large;
}

.buttonCreateEmpty {
    font-size: large;
    padding: 2.5vh 2vw;
}

.buttonCreate {
    margin-right: 3vw;
    height: 56px;
    width: 240px;
    font-size: large;
}

.filter{
    margin-right: 15px;
}


.noSchedules {
    text-align: center;
    align-items: center;
    margin-top: 30vh;
}

.generateScheduleButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2vh;
    margin-top: 2vh;
}