<div mat-dialog-title>Create New Account</div>
<div  mat-dialog-content>
    <div class="userInputContainer">
        <label>Username: </label>
        <mat-form-field
            class="userInputField"
            [formGroup]="usernameControlForm"
        >
        <mat-label>Enter username</mat-label>
        <input
            matInput
            placeholder="username"
            formControlName="username"
            [(ngModel)]="username"
        />
        </mat-form-field>
    </div>
    <div class="passwordInputContainer">
        <label>Password: </label>
        <mat-form-field
            class="passwordInputField"
            [formGroup]="passwordControlForm"
        >
        <mat-label>Enter password</mat-label>
        <input
            matInput
            type="password"
            placeholder="password"
            formControlName="password"
            [(ngModel)]="password"
        />
        </mat-form-field>
    </div>
    <div class="passwordConfirmationInputContainer">
        <label>Confirme Password: </label>
        <mat-form-field
            class="passwordConfirmationInputField"
            [formGroup]="passwordConfirmationControlForm"
        >
        <mat-label>Enter password</mat-label>
        <input
            matInput
            type="password"
            placeholder="password"
            formControlName="passwordConfirmation"
            [(ngModel)]="passwordConfirmation"
        />
        </mat-form-field>
    </div>
</div>
<div mat-dialog-action class="buttons-container">
    <button  mat-raised-button color="primary" (click)="createAccount()">
        Create
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
        Cancel
    </button>
</div>