
.title {
    color: black;
    background-color: lightgray;
    text-align: left;
    font-size: 50px;
    height: 10%;
    padding: 1%;
}


.name-section{
    background-color: gray;
    padding: 2%;
    font-size: 25px;
    border-radius: 30px;
    margin-top: 2%;
}

.nameForm{
    padding-top: 2%;
    background-color: white;
    border-radius: 10px;
    margin-top: 1%;
    display: grid;
}

.duration-section{
    background-color: gray;
    padding: 2%;
    font-size: 25px;
    border-radius: 30px;
    margin-top: 2%;
    text-align: left;
    display: grid;
    grid-gap: 1px;
}
    
.startTime-section{
    background-color: white;
    border-radius: 8px;
    margin-top: 2%;
    color: black;
    display: grid;
}

.endTime-section{
    background-color: white;
    border-radius: 8px;
    margin-top: 2%;
    color: black;
    display: grid;
}


.label{
    text-align: center;
    padding: 2%;
}

button {
    padding: 2%;
    margin-right: 1vw;
    float: right;
}




