<div (mouseleave)="emitConstraint()" class="shift-constraint-container">
    <app-weight [(weight)]="constraint.weight" [label]="weightLabel" (errorState)="updateWeightErrorState($event)"></app-weight>
    <div class="constraint-variables-container">
        <label> Shift: </label>
        <mat-form-field appearance="fill">
            <mat-label>choose a shift </mat-label>
            <mat-select [(value)]="constraint.shiftId" [formControl]="selectFormCtrl">
                <mat-option *ngFor="let shift of possibleShifts" [value]="shift">
                    {{shift}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <div class="value-container">
            <label> Value: </label>
            <app-numeric-input [(value)]="constraint.value" (errorState)="updateValueErrorState($event)"></app-numeric-input>
        </div>
    </div>
</div>
