.additional-items {
    display: flex;
    position: relative;
    align-items: start;
    top:0%;
    display: inline-flex;
    float: right;
    margin-right: 2vw;
}
.add-button {
    margin-left: 1vw;
}
table{
    margin-left:2vw;
}
.unwanted-patterns-container {
    margin-left: 2vw;
    margin-right: 2vw;
}