.constraint-container{
    display: flex;
    justify-content: space-between;
    top:0%;
    /*display: inline-flex;*/
    margin-right: 2vw;
}
.skills-section{
    display: flex;
    flex-direction: column;
}

.add-button{
    height: 56px;
    width: 240px;
    font-size: large;
    margin-left: 1vw;
}

app-weight{
    display: flex;
    position: relative;
    /*align-items: flex-end;*/
    top:0%;
    /*display: inline-flex;*/
    float: right;
    margin-right: 2vw;
}

.additional-items{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    float: right;
}


@media all and (max-width: 1200px) {

.add-button{
    height: 36px;
    width: 130px;
    font-size: smaller;
    margin-left: 1vw;
}

}