.messageErrorContainer {
    width: 100%;
    overflow-x:auto;
}

.messageErrorContent {
    color: red;
}

.cancelAction {
    height: 10em;
    flex-direction: column;
    margin-left: 20vw;
    align-items: flex-end;
}
