.title {
    color: #1a3d66;
    background-color: #d3dde9;
    font-weight: bold;
    font-size: xx-large;
    padding: 1.5% 2.5% 3% 2.5%;
    align-self: center;
}

h2 {
    color:#1a3d66;
    font-size: large;
    margin-bottom: 0px;
}

.inputField {
    width: 100%;
}

.buttons-container{
    position: relative;
    float: right;
    justify-content: space-between;
}

button {
    margin-right: 1vw;
    float: right;
}

