
.title {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    padding: 3%;
    align-self: center;
    display: flex;
}


.buttons-container{
    padding: 1%;
    height: 3%;
}

.skill-container{
    padding: 1%;
}


button {
    margin-right: 1vw;
    float: right;
}

