<div class="shiftGroup">
    <div class ="shiftGroupCard">
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" *ngFor="let shiftGroup of shiftsGroup" >
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{ shiftGroup.name }}
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="shiftGroup.shifts.length > 0">
            <h2>Includes the following shift:</h2>
        <div class="details" *ngFor="let shift of shiftGroup.shifts">
            <h3 >{{ shift.name }} <br> Start Time: {{ shift.startTime }} & End Time: {{ shift.endTime }}   </h3>
        </div></div>
        <div *ngIf="shiftGroup.shiftsType.length > 0">
            <h2>Includes the following shift type:</h2>
        <div class="details" *ngFor="let shiftType of shiftGroup.shiftsType">
        <h3 >{{ shiftType.name }} </h3>
        <div *ngIf="shiftType.shifts.length > 0">
            <h4>Includes the following shift :</h4>
    </div></div></div>
    
      <div class="options"><mat-panel-description>
        <button class="optionsButton"  mat-button [matMenuTriggerFor]="menu">Options</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Modify shift group </span>
            </button>
            <button mat-menu-item (click)="deleteShiftGroup(shiftGroup)">
              <mat-icon>delete</mat-icon>
              <span>Detele shift group </span>
            </button>
            <button mat-menu-item>
              <mat-icon>cloud_upload</mat-icon>
              <span>Export shift group </span>
            </button>
          </mat-menu>
    </mat-panel-description></div>
        </mat-expansion-panel>
    </div>
<app-sidenav-shift></app-sidenav-shift>
<button mat-raised-button class="buttonCreate" color="primary"  (click)="openShiftGroupDialog()">Create new shift group</button>
