p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 2vh;
}

button{
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: larger;
    font-weight: bold;

}

.import-section, .create-empty-section {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
   
}

.close-button{
    float:right;
    bottom: 0%;
    position: absolute;
    right: 0%;
    margin-bottom: 2vh;
}

.profile-container{
    margin-top: 5vh;
}