<div class="profile-container">
    <h1>Welcome to Nurse Scheduler application!</h1>
    <h2>Create or import a hostpital profile to get started</h2>
    <div class="create-empty-section">
        <button mat-raised-button color="primary" (click)="createEmptyProfile()" class="action-button"  matTooltip="You can create an empty profile by specifying only the profile's name"
        matTooltipPosition="right">Create profile</button>
    </div>
    <div class="import-section">
        <button mat-raised-button color="primary" (click)="importProfile()" class="action-button" matTooltip="You can also import a profile from a file"
        matTooltipPosition="right">Import profile</button>

    </div>
    <button mat-raised-button *ngIf="data.closeDisplayed" class="close-button" color="warn" [mat-dialog-close]="true">Close</button>
</div>