app-weight {
    position: relative;
    top:0%;
    float: right;
    margin-right: 2vw;
    margin-left: 10vw;
}

.weight-container {
    position: relative;
    float:right;
}

.min-value-container, .max-value-container {
    display: flex;
    flex-direction: row;
}

label{
    margin-right: 2vw;
}


@media all and (max-width: 1200px) {

    app-weight {
        position: relative;
        top:0%;
        float: left;
        margin-left: 1%;
    }

}
