.schedule-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nurse-name-table {
    display: flex;
    width: 150px;
  }
  
  .nurse-name-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
    height: 5px;
    
  }
  
  .nurse-name-cell {
    background-color: rgb(235, 234, 234);
    height: 31px;
    max-height: 31px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

   .nurse-table{
    width:max-content;
    max-width: 100%;
    height: calc(100% - 5px);
    max-height: calc(100% - 5px); 
  }  
  
  .nurse-name-table{
  height: calc(100% - 5px);
  max-height: calc(100% - 5px); 
  width:max-content;
  max-width: 100%;
  } 
  
  .timetable-table {
    display: flex;
    overflow-x: scroll;
    text-align: center;
    width:82%;
  }

  .shift-header{
    height: 38px;
  }

  .date-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #255792;
    color:white;
  }
  
  .checkbox-row {
    background-color: rgb(235, 234, 234);
  }
  
  .checkbox {
    border-width: 0px;
    background-color: rgb(235, 234, 234);
    width: 80px;
  }

  table{
    color:#1a3d66;
  }

  .preference-weight-container {
    width: 45%;
    margin-left: -1vh;
    margin-top: 1vh;
    }