.contracts-container {
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 90%;    
}

.create-button{
    margin-right: 2vw;
    margin-top: 1vh;
    height: 50px;
    width: 240px;
    font-size: large;
}

#button-container{
    display: flex;
    justify-content: flex-end;
}

mat-card {
    margin-bottom: 1vh;
}

mat-card-actions {
    margin-bottom: 3vh;
}


mat-paginator{
    left: 80vw;
    top: 93vh;
}