h2 {
    color:#1a3d66;
    font-size: large;
    margin-bottom: 0px;
}

.nameForm {
    width: 100%;
}

.formContainer {
    padding: 1.5%;
}

.addShiftButton {
    margin-left: 1.5%;
}

.shiftTable {
    overflow-y: scroll;
}

.shiftTable {
    display: flex;
    flex-wrap: wrap;
}

.table-element-container {
    background-color: #d3dde9;
    color: #1a3d66;
    padding-left: 24px;
    width: max-content;
    border-radius: 4px;
}