<div *ngIf="connectedUser; else elseBlock" class="import-container">
    <div class="import-file-section">
        <input type="file" class="file-input"
            (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">
            {{fileName || "No file uploaded"}}
            <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <button *ngIf="!validProfile" class="cancel-button" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
    <div class="content-section" *ngIf="validProfile">
        <div class="name-section">
            <label class="label">Profile name: </label>
            <mat-form-field appearance="fill">
                <mat-label>Profile name</mat-label>
                <input matInput [(ngModel)]="profile.profile" 
                [formControl]="profileNameCtrl"/>
            </mat-form-field>
            <mat-error *ngIf="nameExist()">
                Profile name is already used
            </mat-error>
        </div>
        <mat-accordion multi>
            <mat-expansion-panel class="shifts-section">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="shiftSectionHasError()" color="warn">error</mat-icon>
                        <h1>Shifts</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-fab class="add-button" color="primary" (click)="addShift()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-action-row>
                <mat-exansion-panel *ngFor="let shift of profile.shifts; let i=index" class="shift-element">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="shiftHasError(i)" color="warn">error</mat-icon>
                            {{shift.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-shift-creation [(shift)]="profile.shifts[i]" [shifts]="possibleShifts" (errorState)="updateShiftErrorState(i, $event)" ></app-shift-creation>
                    <button mat-raised-button color="accent" (click)="removeShift(i)">
                        Remove
                    </button>
                </mat-exansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel class="shift-types-section">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="shiftTypeSectionHasError()" color="warn">error</mat-icon>
                        <h1>Shift types</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-fab class="add-button" color="primary" (click)="addShiftType()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-action-row>
                <mat-expansion-panel *ngFor="let shiftType of profile.shiftTypes; let i=index" class="shift-type-element">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="shiftTypeHasError(i)" color="warn">error</mat-icon>
                            {{shiftType.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-shift-type-creation [(shiftType)]="profile.shiftTypes[i]" [possibleShifts]="possibleShifts" [selectedShift]="possibleShifts[0]" (errorState)="updateShiftTypeErrorState(i,$event)" [shiftsType]="possibleShiftTypes"></app-shift-type-creation>
                    <button mat-raised-button color="accent" (click)="removeShiftType(i)">
                        Remove
                    </button>
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel class="shift-groups-section">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="shiftGroupSectionHasError()" color="warn">error</mat-icon>
                        <h1>Shift groups</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-fab class="add-button" color="primary" (click)="addShiftGroup()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-action-row>
                <mat-expansion-panel *ngFor="let shiftGroup of profile.shiftGroups; let i=index" class="shift-group-element">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="shiftGroupHasError(i)" color="warn">error</mat-icon>
                            {{shiftGroup.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-shift-group-creation [(shiftGroup)]="profile.shiftGroups[i]" [possibleShifts]="possibleShifts" [selectedShift]="possibleShifts[0]" [possibleShiftsType]="possibleShiftTypes" [selectedShiftType]="possibleShiftTypes[0]" (errorState)="updateShiftGroupErrorState(i, $event)" [shiftsGroup]="possibleShiftGroups"></app-shift-group-creation>
                    <button mat-raised-button color="accent" (click)="removeShiftGroup(i)">
                        Remove
                    </button>
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel class="contracts-section">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="contractSectionHasError()" color="warn">error</mat-icon>
                        <h1>Contracts</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-fab class="add-button" color="primary" (click)="addContract()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-action-row>
                <mat-expansion-panel *ngFor="let c of contracts; let i=index" class="contract-element">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="contractHasError(i)" color="warn">error</mat-icon>
                            {{c.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-contract-creation [(contract)]="contracts[i]" [possibleShifts]="contractShifts" [possibleSkills]="skills" [contracts]="contractNames" (errorState)="updateContractErrorState(i, $event)"></app-contract-creation>
                    <button mat-raised-button color="accent" (click)="removeContract(i)">
                        Remove
                    </button>
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel class="nurses-section">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="nurseSectionHasError()" color="warn">error</mat-icon>
                        <h1>Nurses</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-fab class="add-button" color="primary" (click)="addNurse()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-action-row>
                <mat-expansion-panel *ngFor="let n of profile.nurses; let i=index" class="nurse-element">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="nurseHasError(i)" color="warn">error</mat-icon>
                            {{n.username}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-nurse-creation [(nurse)]="profile.nurses[i]" [possibleContracts]="contractNames" [selectedContract]="contractNames[0]" [nurses]="nurses" (errorState)="updateNurseErrorState(i, $event)"></app-nurse-creation>
                    <button mat-raised-button color="accent" (click)="removeNurse(i)">
                        Remove
                    </button>
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel class="nurse-groups-section">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="nurseGroupSectionHasError()" color="warn">error</mat-icon>
                        <h1>Nurse groups</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-fab class="add-button" color="primary" (click)="addNurseGroup()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-action-row>
                <mat-expansion-panel *ngFor="let n of profile.nurseGroups; let i=index" class="nurse-group-element">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="nurseGroupHasError(i)" color="warn">error</mat-icon>
                            {{n.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-nurse-group-creation [(nurseGroup)]="profile.nurseGroups[i]" [possibleContracts]="contractNames" [selectedContract]="contractNames[0]" [possibleNurses]="nurses" [selectedNurse]="nurses[0]" [nurseGroups]="nurseGroups" (errorState)="updateNurseGroupErrorState(i, $event)"></app-nurse-group-creation>
                    <button mat-raised-button color="accent" (click)="removeNurseGroup(i)">
                        Remove
                    </button>
                </mat-expansion-panel>
            </mat-expansion-panel>

            <mat-expansion-panel class="skills-section">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="skillSectionHasError()" color="warn">error</mat-icon>
                        <h1>Skills</h1>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <button mat-fab class="add-button" color="primary" (click)="addSkill()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-action-row>
                <mat-expansion-panel *ngFor="let s of profile.skills; let i=index" class="skill-element">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="skillHasError(i)" color="warn">error</mat-icon>
                            {{s.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-skill-creation [(skill)]="profile.skills[i]" [skills]="skills" (errorState)="updateSkillErrorState(i, $event)"></app-skill-creation>
                    <button mat-raised-button color="accent" (click)="removeSkill(i)">
                        Remove
                    </button>
                </mat-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="action-buttons">
            <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
            <button mat-raised-button color="primary" class="save-btn" [disabled]="formHasError()">Save</button>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <app-not-connected></app-not-connected>
</ng-template>