.file-input {
    display: none;
}

mat-expansion-panel{
    margin-top: 2vh;
}

.upload-btn{
    margin-left: 2vw;
}

.import-file-section{
    margin-left:2vw;
    margin-right:2vw;
    margin-top: 2vh;
}

.content-section{
    margin-top: 2vh;
    margin-left:2vw;
    margin-right:2vw
}
.label {
    margin-right: 1vw;
}
.cancel-button{
    right:0%;
    float:right;
}
.action-buttons{
    margin-top: 2vh;
    justify-content: space-between;
    float:right;
}
.save-btn{
    margin-left: 2vw;
}