<div class="title" mat-dialog-title >New profile</div>
<div class="empty-profile-container">
    <h2>Profile name</h2>
    <hr>
    <div class="name-input">
        <mat-form-field class="nameField" appearance="fill">
            <mat-label>Enter a name</mat-label>
            <input
            matInput
            [(ngModel)]="name"
            [formControl]="nameCtrl"
            />
        </mat-form-field>
        <mat-error *ngIf="nameExist()">
            The profile name is already used
        </mat-error>
        <mat-error *ngIf="nameCtrl.hasError('pattern')">
            Profile name should not contain empty spaces
        </mat-error>
    </div>
    <div class="buttons-container">
        <button mat-raised-button color="warn" (click)="close()" [mat-dialog-close]="true">Cancel</button>
        <button mat-raised-button color="primary" (click)="create()" [disabled]="hasError()">Submit</button>
    </div>
</div>
