.page-container {
    margin-left: 7vw;
    margin-right: 7vw;
}

.schedule-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.schedule-table {
    display: flex;
    overflow-x: scroll;
    background-color: rgb(235, 234, 234);
}


.nurse-name-table {
    display: flex;
    width: 150px;
    background-color: rgb(235, 234, 234);
}


.nurse-name-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    height: 1.5vh;
    background-color: #d3dde9;
}

.date-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
    width: 335px;
    padding : 2px;
    height: 4vh;
    color: white;
}

.nurse-name-cell {
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    background-color: white;
    color: #1a3d66;
}

.checkbox-row {
    background-color: white;
}

.checkbox-cell{
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}

.employee-info {
    display: block;
}

.info-button {
    width: 100%;
}

.nurse-name-row{
    height: 50px
}

.btn-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.btn-section > button {
 margin-left: 1vw;
}

h2, h3 {
    color: #1a3d66;
}

hr {
    color: #8ea2ba;
    background: hsl(213, 24%, 64%);
    border: 0;
    height: 1px;
    margin-left: 0px;
}
