
button {
    height: max-content;
    width: 400px;
    height: 200px;
  }


.side-bar{
    background-color: lightgray;
    height: 800px;
    width: 400px;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-bottom: 2vh;
    border: solid black;
    border-radius: 10px;
}
