
<div class="example-button-row">
  <button mat-button id="skill-button"
    (click)="redirect('Skill')">
    <h2>Skill</h2>
  </button>
  <button mat-button id="shift-button"
    (click)="redirect('Shift')">
    <h2>Shift</h2>
  </button>
  <button mat-button id="shift-type-button"
  (click)="redirect('Shift Type')">
  <h2>Shift Type</h2>
  </button>
  <button mat-button id="shift-group-button"
  (click)="redirect('Shift Group')">
  <h2>Shift Group</h2>
  </button>
</div>
<!-- <mat-divider></mat-divider> -->

