.empty-profile-container{
    margin-top: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    
}

mat-form-field{
    width: 30vw;
    margin-left: 2vw;
}
.buttons-container{
    position: relative;
    float: right;
    justify-content: space-between;
}
button{
    margin-left: 2vw;
}