<div *ngIf="connectedUser; else elseBlock">
  <app-header></app-header>
  <app-sidenav-nurse id="nurse-group-nav-bar"></app-sidenav-nurse>
<div *ngIf="this.nurseGroups.length>0; else noNurseGroups">
  <div class="button-container">
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Morning" #input>
    </mat-form-field>
    <button mat-raised-button class="buttonCreate" color="primary"  (click)="createNewNurseGroup()">Add new Nurse Group</button>
  </div>
  
  <div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort> 

<!-- Name Column -->
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>

<!-- Nurses Column -->
<ng-container matColumnDef="nurses">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nurses </th>
  <td mat-cell *matCellDef="let element"> {{element.nurses}} </td>
</ng-container>

<!-- contracts Column -->
<ng-container matColumnDef="contracts">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Contracts </th>
  <td mat-cell *matCellDef="let element"> {{element.contracts}} </td>
</ng-container>


<!-- Action Column -->
<ng-container matColumnDef="actions" justify="end">
  <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions &nbsp;</th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="modifyNurseGroup(element.name)">
        <mat-icon>edit</mat-icon>
        <span>Modify nurse group</span>
      </button>
      <button mat-menu-item (click)="deleteNurseGroup(element.name)">
        <mat-icon>delete</mat-icon>
        <span>Detele nurse group</span>
      </button>
    </mat-menu>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15,20]" aria-label="Select page of users"></mat-paginator>
</div>
</div>
<ng-template #noNurseGroups>
  <div class="button-container">
    <button mat-raised-button class="buttonCreate" color="primary"  (click)="createNewNurseGroup()">Add new Nurse Group</button>
  </div>
</ng-template>

</div>
<ng-template #elseBlock>
  <app-not-connected></app-not-connected>
</ng-template>

