.buttonCreate{
    position: absolute;
    top: 18%;
    margin-top: 7vh;
    margin-left: 80%;
    font-size: 30px;
    width: 400px; 
}


mat-card-header{
    padding: 2%;
    font-size: 30px;
    font-weight: bold;
    
}

.nurseGroupCard{
    position:absolute;
    left: 10%;
    top: 10%;
    margin-top: 5vw;
    margin-left: 20%;
    width: 60%;
}