.schedule-container {
    display: flex;
    flex-direction: row;
  }
  
  .shift-name-table {
    display: flex;
  }
  
  .shift-name-cell {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgb(235, 234, 234);
  }
  
  .timetable-table {
    display: flex;
    overflow-x: scroll;
  }
  
  .schedule-cells {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .checkbox-row {
    background-color: rgb(235, 234, 234);
  }
  
  .checkbox {
    border-width: 0px;
    background-color: rgb(235, 234, 234);
  }
  