.schedule-container {
    display: flex;
    flex-direction: row;
  }
  
  .shift-name-table {
    display: flex;
    width: 150px;
  }
  
  .shift-name-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
    height: 5px;
  }
  
  .shift-name-cell {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(235, 234, 234);
  }
  
  .timetable-table {
    display: flex;
    overflow-x: scroll;
  }
  
  .schedule-cells {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .checkbox-row {
    background-color: rgb(235, 234, 234);
  }
  
  .checkbox {
    border-width: 0px;
    background-color: rgb(235, 234, 234);
  }
  