.mat-elevation-z8 {
    margin-left: 2vw;
    margin-right: 2vw;
}

.buttonCreate{
    margin-right: 2vw;
    height: 56px;
    width: 240px;
    font-size: large;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
}

.filter{
    margin-right: 15px;
}

::ng-deep #shifts-type-nav-bar #shift-type-button {
    background-color: #d3dde9;
    color: #1a3d66;
    padding: 35px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

::ng-deep #skill-button, ::ng-deep #shift-button, ::ng-deep #shift-group-button {
    background-color: white;
    color: #1a3d66;
    padding: 35px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}