.buttonCreate{
    margin-right: 2vw;
    margin-top: 1vh;
    height: 50px;
    width: 240px;
    font-size: large;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

.filter{
    margin-right: 15px;
}

#table-wrapper{
    height: calc(100vh - 305px);
    max-height: calc(100vh - 305px);
    overflow: auto;
}

::ng-deep #shifts-type-nav-bar #shift-type-button {
    background-color: #d3dde9;
    color: #1a3d66;
    padding: 35px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

::ng-deep #skill-button, ::ng-deep #shift-button, ::ng-deep #shift-group-button {
    background-color: white;
    color: #1a3d66;
    padding: 35px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}