<div *ngIf="connectedUser; else elseBlock">
<app-header></app-header>
  <div class="shiftType">
      <div class ="shiftTypeCard">
        <mat-card *ngFor="let shiftType of shiftsType">
          <mat-card-header>
            <mat-card-title> {{ shiftType }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="modifyShiftType(shiftType)">
                  <mat-icon>edit</mat-icon>
                  <span>Modify shift type</span>
                </button>
                <button mat-menu-item (click)="deleteShiftType(shiftType)">
                  <mat-icon>delete</mat-icon>
                  <span>Detele shift type</span>
                </button>
              </mat-menu>
          </mat-card-actions>
        </mat-card>
      </div>
  <app-sidenav-shift></app-sidenav-shift>
  <button mat-raised-button class="buttonCreate" color="primary"  (click)="createNewShiftType()">Create new shift type</button>
  </div>
</div>
<ng-template #elseBlock>
  <app-not-connected></app-not-connected>
</ng-template>