.buttonCreate{
    position: absolute;
    top: 18%;
    margin-top: 7vh;
    margin-left: 80%;
    font-size: 30px;
    width: 400px; 
}

mat-card-header{
    padding: 2%;
    font-size: 30px;
    font-weight: bold;
    
}

mat-card {
    margin-bottom: 1vh;
}


.shiftTypeCard{
    position:absolute;
    left: 10%;
    top: 18%;
    margin-top: 5vw;
    margin-left: 20%;
    width: 60%;
}

::ng-deep #skill-button {
    background-color: white;
    color: black;
}

::ng-deep #shift-button {
    background-color: white;
    color: black;
}
::ng-deep #shifts-type-nav-bar #shift-type-button {
    background-color: #3F51B5;
    color: white;
}

::ng-deep #shift-group-button {
    background-color: white;
    color: black;
}