<div class="nurse-container" (mouseleave)="emitNurse()"></div>
<div class="content"  mat-dialog-content>
  <div class="nameNurseContainer">
    <h2>Name</h2>
    <hr>
    <mat-form-field class = "nameForm" appearance="fill">
    <mat-label>Enter nurse Name</mat-label>
    <input matInput [(ngModel)]="nurse.name" [formControl]="nameNurseFormCtrl" (keyup)="emitNurse()" (keyup)="setUsername()">
    </mat-form-field>
 </div>
  <div class="UsernameNurseContainer">
    <h2>Username</h2>
    <hr>
    <mat-form-field class = "nameForm" appearance="fill">
    <mat-label>Enter nurse username</mat-label>
    <input matInput [(ngModel)]="nurse.username" [formControl]="usernameNurseFormCtrl" (keyup)="emitNurse()">
    </mat-form-field>
 </div>
 <div class="contractSection">
   <h2 class="contractSectionTitle">Contracts</h2>
   <hr>
   <div *ngIf="localContracts.length > 0">
     <mat-form-field appearance="fill">
       <mat-label>Select a contract</mat-label>
       <mat-select [(ngModel)]="selectedContract" (selectionChange)="emitNurse()">
         <mat-option *ngFor="let contract of localContracts" [value]="contract">
           {{ contract }}
         </mat-option>
       </mat-select>
     </mat-form-field>
     <button mat-raised-button class="addContractButton" (click)="addContract()">
       add contract
     </button>
   </div>
   <table class="contractTable">
     <tr *ngFor="let contract of nurse.contracts">
      <div class="table-element-container flex-row-center-container">
        <td class="contractName">
          {{ contract }}
        </td>
        <button
          mat-icon-button
          (click)="removeContract(contract)"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
     </tr>
   </table>
 </div>
 <div class="contractGroupSection">
  <h2 class="contractSectionTitle">Group Contracts</h2>
  <hr>
  <div *ngIf="localContractGroups.length > 0">
    <mat-form-field appearance="fill">
      <mat-label>Select a group contract</mat-label>
      <mat-select [(ngModel)]="selectedContractGroup" (selectionChange)="emitNurse()">
        <mat-option *ngFor="let contractGroup of localContractGroups" [value]="contractGroup">
          {{ contractGroup }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="addContractGroupButton" (click)="addContractGroup()">
      add group contract
    </button>
  </div>
  <table class="contractGroupTable">
    <tr *ngFor="let contractGroup of nurse.contract_groups">
      <div class="table-element-container flex-row-center-container">
        <td class="contractGroupName">
          {{ contractGroup }}
        </td>
        <button
          mat-icon-button
          (click)="removeContractGroup(contractGroup)"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </tr>
  </table>
</div>

</div>

