.loginContainer{
    display: inline;
    justify-items: flex-start;
    display: flex;
}

img{
    height: 60vh;
    margin-left: 20vw;
    margin-top: 5vh;
}

.loginFormContainer{
    position: relative;
    margin: auto;
    float: inline-end;
}

label{
    margin-right: 1vw;
    font-size: large;
}

mat-form-field{
    margin-bottom: 5vh;
}

button{
    width: 13vw;
    padding: 2vw;
    font-size: 2vh;
}

.nav-bar {
    background-color:white;
    height: 100px;
    width: 100%;
}