<div class="title" mat-dialog-title>New Shift</div>
<div class="content"  mat-dialog-content>
    <div class="nameShiftContainer">
    <label>Shift Name</label>
    <mat-form-field class = "nameForm" [formGroup]="inputControlForm">
      <mat-label>Enter shift name</mat-label>
      <input id="input"
        matInput
        placeholder="name"
        formControlName="name"
        [(ngModel)]="shiftName"
      />
    </mat-form-field>
    </div>
    <div class = "timepicker">
    <label>Duration</label>
    <div class="timepickerStart">
        <div class="label" mat-label>Start Time</div>
        <ngx-timepicker-field 
            [defaultTime]="'00:00 am'"
            [(ngModel)]="startTime"
            ></ngx-timepicker-field>
    </div>
    <div class="timepickerEnd">
        <div class="label" mat-label>End Time</div>
        <div class="time"><ngx-timepicker-field class="timer"
        [defaultTime]="'00:00 am'"
        [(ngModel)]="endTime"
        ></ngx-timepicker-field></div>
    </div>
    </div>
</div>
<div mat-dialog-action class="buttons-container">
    <button  mat-raised-button color="primary" (click)="add()">
        Add
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
        Cancel
    </button>

