header{
    height: 10vh;
    background-color: #255792;
    display: block;
}

span {
    margin-left: 1vw;
    text-anchor: middle;
    color: white;
    font-size: larger;
}

h1{
    margin-left: 1vw;
}

.page-container{
    background-color: #F6F6F6;
    height: 92%
}
