header{
    height: 100px;
    width: 100%;
    background-color: #255792;
    display: block;
}

span {
    margin-left: 1vw;
    text-anchor: middle;
    color: white;
    font-size: larger;
}

h1{
    position: absolute;
    margin-left: 1vw;
    margin-bottom: 2vh;
    font-size: 200%;
}

.page-container{
    background-color: #F6F6F6;
    width: 100%;
}

footer{
    height: 40px;
    width: 100%;
    background-color: white;
    display: block;
}
