.share-container{
    margin-top: 5vh;
    margin-left: 2vw;
}

.title {
    color: #1a3d66;
    background-color: #d3dde9;
    font-weight: bold;
    font-size: xx-large;
    padding: 1.5% 2.5% 3% 2.5%;
}

.table-element-container{
    background-color:#d3dde9;
    color: #1a3d66;
    width: max-content;
    border-radius: 4px;
    padding-left: 24px;
}

.table{
    margin-right: 0px;
}

label{
    margin-right: 1vw;
    color:#1a3d66;
}

h2{
    color:#1a3d66;
}

mat-form-field{
    width: 40vw;
}

.share-button{
    margin-left: 1vw;
}

.buttons-section{
    position: absolute;
    bottom: 0%;
    margin-bottom: 2vh;
    right:0%;
    margin-right: 2vw;
}