<div *ngIf="validSchedule === true else elseBlock">
    <h1>Your schedule is ready</h1>
    <div class="schedule-container">
        <!-- create a table to hold the column with the employee names-->
        <table class="employee-names-column" cellspacing="30">
            <tr>
                <th class="employee-name-header"></th>
            </tr>
            <tr *ngFor="let sc of employeeSchedule.schedule">
                <td class="employee-name-cell">{{sc.employee_name}}</td>
            </tr>
        </table>
        <div class="schedule-table">
            <table cellspacing="10">
                <tr>
                    <th *ngFor="let index of indexes">
                        {{getDateDayStringByIndex(index)}}  {{getDayString(index)}}
                    </th>
                </tr>
                <tr *ngFor="let sc of employeeSchedule.schedule">
                    <td *ngFor="let index of indexes" class="schedule-cells">
                        {{getEmployeeShiftSkill(sc.employee_name, index)}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</ng-template>