<div class="shift">
    <app-sidenav-shift></app-sidenav-shift>
<div class = "shiftCard">
    <mat-expansion-panel *ngFor="let shift of shifts" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        {{ shift }}
    </mat-panel-title>
    <mat-panel-description>
        <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Modify shift</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Detele shift</span>
            </button>
            <button mat-menu-item>
              <mat-icon>cloud_upload</mat-icon>
              <span>Export shift</span>
            </button>
          </mat-menu>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
    </mat-expansion-panel>



</div>
<button mat-raised-button color="primary"  (click)="openShiftDialog()">Create new shift</button>
</div>

