<div class="shift">
<div class ="shiftCard" >
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false" *ngFor="let shift of shifts" >
    <mat-expansion-panel-header>
    <mat-panel-title>
        {{ shift.name }}
    </mat-panel-title>
    </mat-expansion-panel-header>
  <h2 class="details"> Start Time : {{ shift.startTime }}</h2>
  <h2 class="details"> End Time: {{ shift.endTime }}</h2>
  <div class="options"><mat-panel-description>
    <button class="optionsButton"  mat-button [matMenuTriggerFor]="menu">Options</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Modify shift</span>
        </button>
        <button mat-menu-item (click)="deleteShift(shift)">
          <mat-icon>delete</mat-icon>
          <span>Detele shift</span>
        </button>
        <button mat-menu-item>
          <mat-icon>cloud_upload</mat-icon>
          <span>Export shift</span>
        </button>
      </mat-menu>
</mat-panel-description></div>
    </mat-expansion-panel>
</div>
<app-sidenav-shift></app-sidenav-shift>
<button class="buttonCreate" mat-raised-button color="primary"  (click)="openShiftDialog()">Create new shift</button>
</div>

