<div (mouseleave)="emitSkillDemand()" class="min-min-hospital-demand-container">
    <div class="hospital-variables-container">
        <h2>{{skillDemand.skillId}}</h2>
        <div class="min-value-container">
            <label>Min value: </label>
            <app-numeric-input [(value)]="skillDemand.minValue" (errorState)="updateMinValueErrorState($event)"></app-numeric-input>
            <div class="weight-container">
                <app-weight [(weight)]="skillDemand.minWeight" [label]="minWeightLabel" (errorState)="updateMinWeightErrorState($event)"></app-weight>
            </div>
        </div>
        <br><br>
        <div class="max-value-container">
            <label>Max value: </label>
            <app-numeric-input [(value)]="skillDemand.maxValue" (errorState)="updateMaxValueErrorState($event)"></app-numeric-input>
            <app-weight [(weight)]="skillDemand.maxWeight" [label]="maxWeightLabel" (errorState)="updateMaxWeightErrorState($event)"></app-weight>
        </div>
    </div>
</div>

