h2 {
    color:#1a3d66;
    font-size: large;
    margin-bottom: 0px;
}

.nameForm {
    width: 100%;
}

.formContainer {
    padding: 1.5%;
}

.label{
    text-align: center;
    padding: 2%;
    font-weight: bold;
    font-size: larger;
}

.duration-section{
    display: flex;
    justify-content: space-around;
    margin: 3%;
}

.startTime-section, .endTime-section  {
    width: 17vw;
}