
.title-box {
    background-color: #EFF2F7;
    padding: 5px;
}

h1{
    font-size: 45px;
    font-weight: bolder;
    margin-left: 1vw;
    margin-bottom: 2vh;
}


.buttons-container{
    padding: 1%;
    height: 3%;
}

.shift-container{
    padding: 1%;
}


button {
    margin-right: 1vw;
    float: right;
    width: 120px;
    height: 50px;
    font-size: large;
}




