<div class="problemDefinitionContainer">
  <div class="NameDefinitionContainer">
    <label>Name: </label>
    <mat-form-field
      class="problemNameInputField"
      [formGroup]="inputControlForm"
    >
      <mat-label>Enter problem's name</mat-label>
      <input
        matInput
        placeholder="name"
        formControlName="name"
        [(ngModel)]="problemName"
      />
    </mat-form-field>
  </div>
  <div class="PlanningHorizonContainer">
    <label>planning horizon: </label>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input
        [formGroup]="range"
        [rangePicker]="picker"
        seperator="to"
        required
      >
        <input
          matStartDate
          formControlName="start"
          placeholder="Start date"
          (dateChange)="updateStartDate($event)"
        />
        <input
          matEndDate
          formControlName="end"
          placeholder="End date"
          (dateChange)="updateEndDate($event)"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
  </div>
  <div class="employeeSection">
    <H1 class="employeeSectionTitle">Nurses</H1>
    <div *ngIf="availableNurses.length > 0">
      <mat-form-field appearance="fill">
        <mat-label>select a nurse</mat-label>
        <mat-select [(value)]="selectedNurse">
          <mat-option *ngFor="let nurse of availableNurses" [value]="nurse">
            {{ nurse.username }} - {{ nurse.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="addNurseButton" (click)="addNurse()">
        add Nurse
      </button>
    </div>
    <table class="nursesTable">
      <tr *ngFor="let nurse of nurses">
        <td class="nurseNameUsername">
          {{ nurse.username }} - {{ nurse.name }}
        </td>
        <mat-chip-row
          class="chips"
          *ngFor="let contract of nurse.contracts"
          (removed)="removeContract(nurse, contract)"
        >
          {{ contract }}
          <button matChipRemove aria-label="'remove ' + nurse + contract">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <button
          mat-raised-button
          class="removeNurseButton"
          (click)="removeNurse(nurse)"
          color="accent"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </tr>
    </table>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="generateScheduleButton"
    (click)="viewSchedule()"
    [disabled]="
      range.invalid || inputControlForm.invalid || nurses.length === 0
    "
  >
    Generate schedule
  </button>
</div>
