.problemDefinitionContainer {
    margin-left: 7vw;
    margin-top: 3vh;
}
label {
    margin-right: 2vw;
    font-size: large;
}

.margin-on-top {
    margin-top: 4vh;
}

.margin-on-bottom {
    margin-bottom: 5vh;
}

.list-table {
    display: flex;
    flex-wrap: wrap;
}

.table-element-container {
    background-color: #EFF2F7;
    color: #1a3d66;
    padding-left: 24px;
    width: max-content;
    border-radius: 4px;
    margin: 5px;
}

.padding-div{
    color: #1a3d66;
    background-color: #EFF2F7;
    border-radius: 12px;
    padding: 1vh;
    width: max-content;
    margin-left: 2vw;
}

h2 {
    color:#1a3d66;
    margin-bottom: 0px;
}


hr {
    color: #8ea2ba;
    background: #8ea2ba;
    border: 0;
    height: 1px;
    width: 90%;
    margin-left: 0px;
}

.info-icon {
    margin-right:1vw;
    margin-left:1vw;
}

.single-action-button{ 
    margin-left: 5vw;
    margin-right: 2vw;
    width: 115px;
}

.add-all-button {
    height: 60px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    padding-left: 14px;
    padding-right: 14px;
}

.bulk-action-button{
    width: 115px;
}

.schedule-generation-container{
    background-color: #d3dde9;
}