<div class="problemDefinitionContainer">
  <div class="PlanningHorizonContainer">
    <label>planning horizon: </label>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input
        [formGroup]="range"
        [rangePicker]="picker"
        seperator="to"
        required
      >
        <input
          matStartDate
          formControlName="start"
          placeholder="Start date"
          (dateChange)="updateStartDate($event)"
        />
        <input
          matEndDate
          formControlName="end"
          placeholder="End date"
          (dateChange)="updateEndDate($event)"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
    <div *ngIf="possibleSkills.length > 0 || possibleShifts.length > 0 || possibleNurses.length > 0" ><button mat-raised-button class="addAllButton" (click)="addAll()">
      add all Nurses, Skills & Shifts
    </button></div>
  </div>
  <div class="scheduleDataSection">
    <H1 class="employeeSectionTitle">Nurses</H1>
    <div *ngIf="possibleNurses.length > 0">
      <button mat-raised-button class="addAllNurseButton" (click)="addAllNurse()">
        add all Nurses
      </button><br>
      <mat-form-field appearance="fill">
        <mat-label>select a nurse</mat-label>
        <mat-select [(ngModel)]="selectedNurse">
          <mat-option *ngFor="let nurse of possibleNurses" [value]="nurse">
            {{ nurse.name}} - {{nurse.username}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="addNurseButton" (click)="addNurse()">
        add Nurse
      </button>
    </div>
    <table class="nursesTable">
      <tr *ngFor="let nurse of  nurses">
        <td class="nurseNameUsername">
          {{nurse.name}} - {{nurse.username}}
        </td>
        <button
          mat-raised-button
          class="removeNurseButton"
          (click)="removeNurse(nurse)"
          color="accent"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </tr>
    </table>
  <div class="shiftSection">
    <H1 class="shiftSectionTitle">Shifts</H1>
    <div *ngIf="possibleShifts.length > 0">
      <button mat-raised-button class="addAllShiftButton" (click)="addAllShift()">
        add all Shifts
      </button><br>
      <mat-form-field appearance="fill">
        <mat-label>select a shift</mat-label>
        <mat-select [(ngModel)]="selectedShift">
          <mat-option *ngFor="let shift of possibleShifts" [value]="shift">
            {{shift}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="addShiftButton" (click)="addShift()">
        add Shift
      </button>
    </div>
    <table class="shiftsTable">
      <tr *ngFor="let shift of shifts">
        <td class="shiftName">
          {{ shift }}
        </td>
        <button
          mat-raised-button
          class="removeShiftButton"
          (click)="removeShift(shift)"
          color="accent"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </tr>
    </table>
  </div>

  <div class="skillSection">
  <H1 class="shiftSectionTitle">Skills</H1>
  <div *ngIf="possibleSkills.length > 0">
    <button mat-raised-button class="addAllSkillButton" (click)="addAllSkill()">
      add all Skills
    </button><br>
    <mat-form-field appearance="fill">
      <mat-label>select a skill</mat-label>
      <mat-select [(ngModel)]="selectedSkill">
        <mat-option *ngFor="let skill of possibleSkills" [value]="skill">
          {{skill}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="addSkillButton" (click)="addSkill()">
      add Skill
    </button>
  </div>
  <table class="skillsTable">
    <tr *ngFor="let skill of skills">
      <td class="skillName">
        {{ skill }}
      </td>
      <button
        mat-raised-button
        class="removeSkillButton"
        (click)="removeSkill(skill)"
        color="accent"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </tr>
  </table>
</div>
<div *ngIf= "shifts.length > 0  && nurses.length > 0" class="nursePreferenceSection">
  <H1 class="HospitalDemandSectionTitle">Nurse Preferences</H1>  
  <app-nurse-preference [shifts]="shifts" [nurses]="nurses" [startDate]="startDate" [endDate]="endDate" (schedulePreference)="updatePreferences($event)"></app-nurse-preference>
</div>

  <div  *ngIf= "shifts.length > 0  && skills.length > 0" class="HospitalDemandSection">
    <H1 class="HospitalDemandSectionTitle">Hospital Demand</H1>  
    <app-hopspital-demand-creation [shifts]="shifts" [skills]="skills" [startDate]="startDate" [endDate]="endDate" (hospitalDemand)="updateDemands($event)" (errorState)="updateDemandsErrorState($event)"></app-hopspital-demand-creation>


  </div>
  <button
    mat-raised-button
    color="primary"
    class="generateScheduleButton"
    (click)="generateSchedule()"
    [disabled]=" nurses.length === 0 || shifts.length === 0 || demandsError"
  >
    Generate schedule
  </button>
</div>

