<div class="dialog-container">
    <div class="contract-container">
        <app-contract-creation [(contract)]="data.contract" [possibleShifts]="possibleShifts" (errorState)="updateContractErrorState($event)"></app-contract-creation>
    </div>
    <div mat-dialog-action class="buttons-container">
        <button [disabled]="contractErrorState" mat-raised-button color="primary" (click)="submit()">
            Submit
        </button>
        <button mat-raised-button color="accent" [mat-dialog-close]="true">
            Cancel
        </button>
    </div>
</div>
