mat-expansion-panel {
    margin-left: 1vw;
    margin-right: 1vw;
}

.contract-container {
    margin-left: 1vw;
}

.delete-button {
    float:right;
    position: relative;
    margin-right: 6vw;
    margin-left: 2vw;
}

.constraint-container {
    flex-direction: row;
    margin-bottom: 5vh;
    align-content: space-between;
    display:inline-flex;
}

label {
    margin-right: 1vw;
}

mat-form-field {
    width:30vw;
}

.add-button {
    margin-left: 2vw;
}

mat-expansion-panel {
    width: 75vw;;
}

