<div class="contract-container" (mouseleave)="emitContract()">
    <div class="name-section">
        <label>Contract name: </label>
        <mat-form-field appearance="fill" class="name-input">
            <mat-label>Enter a name</mat-label>
            <input matInput [(ngModel)]="contract.name"
            [formControl]="nameFormCtrl"/>
        </mat-form-field>
        <mat-error *ngIf="nameExist() && contractStartName ===''">
            Name is already used
        </mat-error>
    </div>
    <div class="constraints-section">
        <h1>Constraints</h1>
        <div class="constraints-container">
            <div *ngFor="let constraint of contract.constraints; let i= index" class="constraint-container">
                <mat-expansion-panel [expanded]="i === contract.constraints.length -1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{constraint.displayName}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container [ngSwitch]="constraint.name">
                        <app-unwanted-patterns *ngSwitchCase="unwantedPatternsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-unwanted-patterns>
                        <app-alternative-shift *ngSwitchCase="alternativeShiftId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-alternative-shift>
                        <app-shift-constraint *ngSwitchCase="freeDaysAfterShiftId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-shift-constraint>
                        <app-min-max-consecutive-shift *ngSwitchCase="minMaxConsecutiveShiftTypeId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-min-max-consecutive-shift>
                        <app-boolean-constraint *ngSwitchCase="identicalWeekendId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-boolean-constraint>
                        <app-boolean-constraint *ngSwitchCase="completeWeekendId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-boolean-constraint>
                        <app-min-max-constraint *ngSwitchCase="totalNumberWeekendsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-min-max-constraint>
                        <app-min-max-constraint *ngSwitchCase="minMaxConsecutiveWorkingWeekendsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-min-max-constraint>
                        <app-min-max-constraint *ngSwitchCase="minMaxNbAssignmentsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-min-max-constraint>
                        <app-unwanted-skills *ngSwitchCase="unwantedSkillsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [skills]="possibleSkills"></app-unwanted-skills>
                        <div *ngSwitchDefault>Empty</div>
                    </ng-container>
                </mat-expansion-panel>
                <button mat-raised-button color="accent" (click)="removeConstraint(i)" class="delete-button">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </div>
        
        <h2>choose a constraint to be added </h2>
        <br>
        <div class="constraints" *ngFor="let constraint of possibleConstraints; let i= index">
            <button class="constraint-button" mat-raised-button (click)="addConstraint(constraint)">
                {{ constraint }}
            </button>
        </div>
    </div>
</div>