mat-expansion-panel {
    margin-left: 1vw;
    margin-right: 10vw;
}

.contract-container {
    margin-left: 1vw;
}

.deleteButton {
    float:right;
    position: relative;
    margin-right: 6vw;
    margin-left: 2vw;
}

.constraint-container {
    flex-direction: row;
    margin-bottom: 5vh;
    align-content: space-between;
}
