<div class="contract-container" (mouseleave)="emitContract()">
    <div class="name-section">
        <label>Contract name: </label>
        <mat-form-field appearance="fill" class="name-input">
            <mat-label>Enter a name</mat-label>
            <input matInput [(ngModel)]="contract.name"
            [formControl]="nameFormCtrl"/>
        </mat-form-field>
    </div>
    <div class="skills-section">
        <div class="skills-section-header">
            <H1> skills:</H1>
            <button mat-mini-fab color="primary" (click)="addSkill()" class="add-skill-button" matTooltip="Add skill">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <br>
        <div *ngFor="let skill of contract.skills; let i=index">
            <mat-form-field appearance="fill" class="skill-input" >
                <mat-label>Enter a skill</mat-label>
                <input matInput [(ngModel)]="contract.skills[i]" [formControl]="skillFormCtrls[i]"/>
            </mat-form-field>
            <button mat-raised-button (click)="deleteSkill(i)" class="delete-skill-button" color="accent">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="constraints-section">
        <h1>Constraints</h1>
        <label>choose a constraint: </label>
        <mat-form-field appearance="fill" class="constraint-select">
            <mat-label>Choose a constraint: </mat-label>
            <mat-select [(value)]="chosenConstraint">
                <mat-option *ngFor="let constraint of possibleConstraints" [value]="constraint">
                    {{constraint}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="add-button" (click)="addConstraint()">Add constraint</button>
        <br>
        <div class="constraints-container">
            <div *ngFor="let constraint of contract.constraints; let i= index" class="constraint-container">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{constraint.displayName}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container [ngSwitch]="constraint.name">
                        <app-unwanted-patterns *ngSwitchCase="unwantedPatternsId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-unwanted-patterns>
                        <app-alternative-shift *ngSwitchCase="alternativeShiftId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-alternative-shift>
                        <app-shift-constraint *ngSwitchCase="freeDaysAfterShiftId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-shift-constraint>
                        <app-min-max-consecutive-shift *ngSwitchCase="minMaxConsecutiveShiftTypeId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)" [possibleShifts]="possibleShifts"></app-min-max-consecutive-shift>
                        <app-boolean-constraint *ngSwitchCase="identicalWeekendId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-boolean-constraint>
                        <app-boolean-constraint *ngSwitchCase="completeWeekendId" [(constraint)]="contract.constraints[i]" (errorState)="updateConstraintErrorState(i,$event)"></app-boolean-constraint>
                        <div *ngSwitchDefault>Empty</div>
                    </ng-container>
                </mat-expansion-panel>
                <button mat-raised-button color="accent" (click)="removeConstraint(i)" class="delete-button">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>