<h1 mat-dialog-title>New Shift</h1>
<mat-dialog-content>
    <div class="NameShiftContainer">
    <label>Name: </label>
    <mat-form-field
      [formGroup]="inputControlForm"
    >
      <mat-label>Enter shift name</mat-label>
      <input
        matInput
        placeholder="name"
        formControlName="name"
        [(ngModel)]="shiftName"
      />
    </mat-form-field>
    </div>
    <!--div class="TypeShiftContainer">
        <label>Shift type: </label>
        <div *ngIf="availableTypes.length > 0">
          <mat-form-field appearance="fill">
            <mat-label>Choose type</mat-label>
            <mat-select [(value)]="shiftType">
              <mat-option *ngFor="let type of availableTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div-->
    <div class="ngx-timepicker-field-example">
        <mat-label>Start Time:</mat-label>
        <ngx-timepicker-field 
            [defaultTime]="'00:00 am'"
            [(ngModel)]="startTime"
            ></ngx-timepicker-field>
    </div>
    <div class="ngx-timepicker-field-example">
        <mat-label>End Time:</mat-label>
        <ngx-timepicker-field 
        [defaultTime]="'00:00 am'"
        [(ngModel)]="endTime"
        ></ngx-timepicker-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close>Add</button>
</mat-dialog-actions>
