<div class="dialog-container">
    <div class="contract-container">
        <app-contract-creation *ngIf="shiftsLoaded && shiftTypesLoaded && shiftGroupsLoaded && skillsLoaded" 
            [(contract)]="data.contract" [possibleShifts]="possibleShifts" 
            (errorState)="updateContractErrorState($event)" [possibleSkills]="possibleSkills"
            [contracts]="this.data.contractList"></app-contract-creation>
    </div>
    <div mat-dialog-action class="buttons-container">
        <button mat-raised-button color="warn" [mat-dialog-close]="true">
            Cancel
        </button>
        <button [disabled]="contractErrorState" mat-raised-button color="primary" (click)="submit()">
            Submit
        </button>
    </div>
</div>
