<div class="main-menu-page" *ngIf="connectedUser; else elseBlock">
  <app-header></app-header>
  <div class="main-menu-page-buttons-container">
    <div *ngFor="let button of buttons; let i = index">
      <div  class="start-buttons">
        <button *ngIf="show(button)" mat--button align="start"
        (click)="redirect(button)"
        >
          <img [src]="button.icon" align="left" />
          <span>
            <h1>{{ button.title }}</h1>
            {{ button.description }}
          </span>
        </button>  
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <app-not-connected></app-not-connected>
</ng-template>
