.buttonCreate{
    position: absolute;
    top: 18%;
    margin-top: 7vh;
    margin-left: 80%;
    font-size: 30px;
    width: 400px; 
}

mat-card-header{
    padding: 2%;
    font-size: 30px;
    font-weight: bold;
    
}


mat-card {
    margin-bottom: 1vh;
}

::ng-deep #skill-button {
    background-color: white;
}

::ng-deep #shifts-nav-bar #shift-button {
    background-color:#F6F6F6;
   
}
::ng-deep #shift-type-button {
    background-color: white;
}

::ng-deep #shift-group-button {
    background-color: white;
}



