<div *ngIf="connectedUser; else elseBlock">
  <app-header></app-header>
  <app-sidenav-shift id="shifts-nav-bar"></app-sidenav-shift>
<div *ngIf="this.shifts.length>0">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Morning" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort> 

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- StartTime Column -->
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> StartTime </th>
    <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
  </ng-container>

  <!-- EndTime Column -->
  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> endTime </th>
    <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions" justify="end">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions &nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="modifyShift(element.name)">
            <mat-icon>edit</mat-icon>
            <span>Modify shift</span>
          </button>
          <button mat-menu-item (click)="deleteShift(element.name)">
            <mat-icon>delete</mat-icon>
            <span>Detele shift</span>
          </button>
        </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15,20]" aria-label="Select page of users"></mat-paginator>
</div></div>
  <button class="buttonCreate" mat-raised-button color="primary"  (click)="createNewShift()">Add new shift</button>
</div>
<ng-template #elseBlock>
  <app-not-connected></app-not-connected>
</ng-template>


