.main-menu-page-buttons-container{
  position: relative;
  display: block;
  margin-left: 13vw;
  margin-right: 7vw;
  margin-top: 5vh;
}
button {
  margin: 4vw;
  height: max-content;
  width: 500px;

}
img {
  top: 0px;
  right: 0px;
}

.start-buttons {
  align-items: flex-start;
  float: left;
}

.end-buttons {
  align-items: flex-end;
  float: left;
}

